// Grey text uses alpha values of white & black.
$text-primary:   alpha(#000, .85);
$text-secondary: alpha(#000, .45);
$text-disabled:  alpha(#000, .15);

$text-primary-invert: alpha(#fff, 1);
$text-secondary-invert: alpha(#fff, .6);

// ------------------------------------------------------------

// Symbolic icons don't work with alpha values.
// Because of this, grey symbolic icons use hex values.
$icon-primary:   #2c2c2c;
$icon-secondary: #777;
$icon-disabled:  #ccc;

$icon-primary-invert: #fff;
$icon-secondary-invert: #ccc;

// ------------------------------------------------------------

$accent: #3e7ab6;

// ------------------------------------------------------------

// The following selectors use modified/different colors:
//  .cinnamon-link
