// Accent colors
$accent-primary: #6598cb;
$accent-info:    #ff9c6a;
$accent-danger:  #e86b6b;


// Text colors
$text-primary:   alpha(#000, .85);
$text-secondary: alpha(#000, .4);
$text-disabled:  alpha(#000, .15);

$text-primary-invert:   alpha(#fff, 1);
$text-secondary-invert: alpha(#fff, .6);

$text-info:   alpha(saturate(darken($accent-info, 17%), 100%), .9);
$text-danger: alpha(saturate(darken($accent-danger, 20%), 100%), .7);


// Link colors
$link: alpha(saturate(darken($accent-primary, 17%), 100%), .9);


// FIX Symbolic icons don't support transparency
$icon-primary:   #2c2c2c;
$icon-secondary: #777;
$icon-disabled:  #aaa;

$icon-primary-invert:   #fff;
$icon-secondary-invert: #ccc;
