/* ===================================================================
   ! Alt Tab
   ===================================================================*/

#altTabPopup {
    padding: 8px;
    spacing: 1px;
}

.alt-tab-app {}

.switcher-list {
    border-image: url("background-assets/popup.svg") 7;
    color: $text-primary;
    padding: 6px;
    font-size: 10pt;
    font-weight: bold;

    .item-box {
        padding: 10px;

        StLabel { padding-top: .4em; }

        &:selected {
            border-image: url("background-assets/hover.svg") 7;
            color: $text-primary-invert;
        }
    }

    &-item-container { spacing: 0; }

    .thumbnail { width: 256px; }

    .separator {/*!*/}
}

.switcher-arrow,
.switcher-arrow:highlighted,
.switcher-preview-backdrop {
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}
