/* ===================================================================
   ! Tooltips
   ===================================================================*/

#Tooltip {
    border-image: url("background-assets/tooltip.svg") 6;
    padding: 6px 8px;
    color: $text-primary-invert;
    font-size: 9pt;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
}
