/* ===================================================================
   ! Slider
   ===================================================================*/

.slider {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.1em;
    -slider-background-color: $text-primary-invert;
    -slider-border-color: $text-primary-invert;
    -slider-active-background-color: $accent-primary;
    -slider-active-border-color: $accent-primary;
    -slider-border-width: 0px;
    -slider-handle-radius: 0.4em;

    .popup-menu-item:active & {
        -slider-handle-radius: 0.5em;
    }
}
