/* ===================================================================
   ! Switchers
   ===================================================================*/

.toggle-switch {
    width: 48px;
    height: 26px;
    background-size: contain;

    &-us, &-intl {
        background-image: url("widget-assets/off.svg");
    }

    &-us:checked, &-intl:checked {
        background-image: url("widget-assets/on.svg");
    }
}
